.App {
  text-align: center;
}

.background-image{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('/src/image/horoscope.webp');
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

